@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Jali_med";
    src: url("../src/fonts/Jali_med.ttf");
}
@font-face {
    font-family: "almushaf";
    src: url("../src/fonts/almushaf.ttf");
}
@font-face {
    font-family: "falak_b";
    src: url("../src/fonts/FALAK_BOLD.ttf");
}
@font-face {
    font-family: "falak_r";
    src: url("../src/fonts/FALAK_REGULAR.ttf");
}
@font-face {
    font-family: "ubuntu";
    src: url("../src/fonts/alfont_com_Ubuntu-Arabic_B.ttf");
}
@font-face {
    font-family: "quicksandB";
    src: url("../src/fonts/Quicksand-SemiBold.ttf");
}
@font-face {
    font-family: "quicksandR";
    src: url("../src/fonts/Quicksand-Regular.ttf");
}